@{
    ViewData["Title"] = "Личная заявка";
}

<div class="container p-1">

    <form method="post" action="SignPost" class="col-md-12 text-center">

        <div class="row p-1 border border-1 border-warning m-3 bg-secondary bg-opacity-10">

            <div class="col-md border border-1 border-warning m-1 ">

                <div class="bg-warning border-1 rounded-pill my-2 p-2">
                    <h5>Информация для пропуска</h5>
                </div>

                <p>
                    <span><h5>Срок действия заявки:</h5> </span>
                </p>

                
                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <span><h5>Цель посещения:</h5> </span>
                </p>

                <p>
                    <select class="form-select-auto user-select-auto">
                        <option value="target1">Цель посещения 1</option>
                        <option value="target2">Цель посещения 2</option>
                        <option value="target3">Цель посещения 3</option>
                    </select>
                    
                </p>

            </div>

            <div class="col-md border border-1 border-warning m-1">

                <div class="bg-warning border-1 rounded-pill my-2 p-2">
                    <h5>Принимающая сторона</h5>
                </div>

                <p>
                    <span><h5>Подразделение:</h5> </span>
                </p>

                <p>
                    <select class="form-select-auto user-select-auto">
                        <option value="target1">Подразделение 1</option>
                        <option value="target2">Подразделение 2</option>
                        <option value="target3">Подразделение 3</option>
                    </select>

                </p>

                <p>
                    <span><h5>Фио:</h5> </span>
                </p>

                <p class="m-1">
                    <select class="form-select-auto user-select-auto m-1">
                        <option value="target1">Иванов Иван Иванович</option>
                        <option value="target2">Фио 2</option>
                        <option value="target3">Фио 3</option>
                    </select>

                    <img class="m-1" src="~/images/User.jpg" width="30px" height="30px"/>

                </p>

            </div>


        </div>

        <div class="row p-1 border border-1 border-warning m-3 bg-secondary bg-opacity-10">

            <div class="col-md border border-1 border-warning m-1 ">

                <div class="bg-warning border-1 rounded-pill my-2 p-2">
                    <h5>Информация о посетителе</h5>
                </div>

                <p>
                    <span><h5>Срок действия заявки:</h5> </span>
                </p>

                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <span><h5>Цель посещения:</h5> </span>
                </p>

                <p>
                    <select class="form-select-auto user-select-auto">
                        <option value="target1">Цель посещения 1</option>
                        <option value="target2">Цель посещения 2</option>
                        <option value="target3">Цель посещения 3</option>
                    </select>

                </p>

            </div>
               
  
        </div>

        <div class="row p-1 border border-1 border-warning m-3 bg-secondary bg-opacity-10">

            <div class="col-md border border-1 border-warning m-1 ">

                <div class="bg-warning border-1 rounded-pill my-2 p-2">
                    <h5>Прикрепляемые документы</h5>
                </div>

                <p>
                    <span><h5>Срок действия заявки:</h5> </span>
                </p>

                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <span><h5>Цель посещения:</h5> </span>
                </p>

                <p>
                    <select class="form-select-auto user-select-auto">
                        <option value="target1">Цель посещения 1</option>
                        <option value="target2">Цель посещения 2</option>
                        <option value="target3">Цель посещения 3</option>
                    </select>

                </p>

            </div>

            <div class="col-md border border-3 border-warning m-1 ">

                <div class="bg-warning border-3 rounded-pill my-2 p-2">
                    <h5>Оформление заявки</h5>
                </div>

                <p>
                    <span><h5>Срок действия заявки:</h5> </span>
                </p>


                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <input type="date" class="p-2 border border-3 border-warning rounded-pill" name="login" placeholder="Login" required />
                </p>

                <p>
                    <span><h5>Цель посещения:</h5> </span>
                </p>

                <p>
                    <select class="form-select-auto user-select-auto">
                        <option value="target1">Цель посещения 1</option>
                        <option value="target2">Цель посещения 2</option>
                        <option value="target3">Цель посещения 3</option>
                    </select>

                </p>

            </div>

        </div>

     </form>

</div>