@{
    ViewData["Title"] = "Все заявки";
}

<!-- Выбор типа заявки-->

<!-- Таблица с заявками от пользователей-->

<div class="row p-5">
    <div class="col-md-10 offset-1 text-center  border-1 border-primary rounded-3 p-3">
        <a class="btn btn-primary m-1" asp-controller="Home" asp-action="CreateSelf"> Личная заявка </a>
    

        <a class="btn btn-primary m-1" asp-controller="Home"  asp-action="CreateGroup"> Групповая заявка </a>
    </div>
</div>
